In [73]:
import mysql.connector as connector

In [74]:
connection = connector.connect(user = "dbUser1", password = "fheoKRFCiwn33%", db = "LittleLemonDB")
connection.autocommit = True

In [75]:
cursor = connection.cursor()

In [55]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
col_names = cursor.column_names
print(col_names)
for row in results:
    print(row)

('Tables_in_littlelemondb',)
('Bookings',)
('Customers',)
('MenuItems',)
('Menus',)
('OrderDeliveries',)
('Orders',)
('ordersgt150',)
('ordersmenuqtygt2',)
('ordersview',)
('Staff',)

In [29]:
clientsQuery = """SELECT Customers.CustomerID, Customers.Name, Customers.Phone, Orders.TotalCost FROM Orders
INNER JOIN Bookings using (BookingID)
INNER JOIN Customers using (CustomerID)
WHERE Orders.TotalCost > 60;"""
cursor.execute(clientsQuery)
results = cursor.fetchall()
col_names = cursor.column_names
print(col_names)
for row in results:
    print(row)

('CustomerID', 'Name', 'Phone', 'TotalCost')
(1, 'Ana Iversen', '582938472983', 215)
(5, 'Hiroki Yamane', '1239472934', 129)

Add Booking

In [81]:

# Reconnect
connection = connector.connect(user = "dbUser1", password = "fheoKRFCiwn33%", db = "LittleLemonDB")
connection.autocommit = True
cursor = connection.cursor()
# SQL statement
strMySQL = "CALL AddBooking( 99, 99, 99, '2022-12-10')"
cursor.execute(strMySQL)
results = cursor.fetchall()

for row in results:
    print(row)

cursor.close()
connection.close()

('New booking added',)


Update booking

In [82]:
# Reconnect
connection = connector.connect(user = "dbUser1", password = "fheoKRFCiwn33%", db = "LittleLemonDB")
connection.autocommit = True
cursor = connection.cursor()
# Parameters

strTable = "99"
strBookingDate = '"2022-01-10"'
strMySQL = "CALL UpdateBooking({}, {});".format(strTable, strBookingDate)

#Execute clause
cursor.execute(strMySQL)
results = cursor.fetchall()
for row in results:
    print(row)

cursor.close()
connection.close()

('Booking table 99 updated on 2022-01-10',)

Cancel Booking

In [83]:
# Reconnect
connection = connector.connect(user = "dbUser1", password = "fheoKRFCiwn33%", db = "LittleLemonDB")
connection.autocommit = True
cursor = connection.cursor()

# Parameters
strMySQL = "CALL CancelBooking(99);"

#Execute clause
cursor.execute(strMySQL)
results = cursor.fetchall()
for row in results:
    print(row)

cursor.close()
connection.close()

('Booking 99 cancelled.',)