In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "dbUser1", password = "fheoKRFCiwn33%", db = "LittleLemonDB")

In [3]:
cursor = connection.cursor()

In [4]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
col_names = cursor.column_names
print(col_names)
for row in results:
    print(row)

('Tables_in_littlelemondb',)
('Bookings',)
('Customers',)
('MenuItems',)
('Menus',)
('OrderDeliveries',)
('Orders',)
('ordersgt150',)
('ordersmenuqtygt2',)
('ordersview',)
('Staff',)

In [5]:
clientsQuery = """SELECT Customers.CustomerID, Customers.Name, Customers.Phone, Orders.TotalCost FROM Orders
INNER JOIN Bookings using (BookingID)
INNER JOIN Customers using (CustomerID)
WHERE Orders.TotalCost > 60;"""
cursor.execute(clientsQuery)
results = cursor.fetchall()
col_names = cursor.column_names
print(col_names)
for row in results:
    print(row)

('CustomerID', 'Name', 'Phone', 'TotalCost')
(1, 'Ana Iversen', '582938472983', 215)
(5, 'Hiroki Yamane', '1239472934', 129)